<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>Liberal Books</title>
</head>
<body>
    <div class="ui sidebar inverted vertical menu">
        <a class="item" href="/books">
            <i class="ui icon book"></i>
            View all books
        </a>
        <a class="item">
            Info
            <i class="ui icon info"></i>
        </a>
        <a class="item" href="/books/new">
            <i class="ui icon plus"></i>
            Add new book
        </a>
    </div>
    <div class="pusher"> <!--closing tag can be found inside the footer-->
        <div class="ui container segment" id="main-header-container">            
                <div class="ui huge header">
                    <div class="ui image">
                        <i class="bars icon"></i>
                    </div>
                    <div class="content">
                        <div class="ui big header">
                            <a class="basic-link" href="/books">Liberal Books</a>
                            <div class="ui sub header">
                                share all your good reads
                            </div>
                        </div>
                    </div>
                </div>    
            </div>